body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

#navbar {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  background: rgba(255, 255, 255, 1);
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 1px solid #dfe1ef;
}
#googleimage img {
  float: left;
  padding: 5%;
  width: 12.5%;
  margin-bottom: 0;
}
#search {
  float: left;
  display: inline-block;
  border: 1px solid #dfe1ef;
  box-shadow: none;
  border-radius: 24px;
  height: 33px;
  width: 60%;
  margin-top: 5%;
  margin-bottom: 0;
  padding-left: 5%;
}
#search img {
  height: 28px;
  width: auto;
}

#subnavbar {
  clear: left;
  position: absolute;
  margin-top: 85px;
  padding-left: 22%;
  width: 65%;
  z-index: 999;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: block;
  float: left;
  display: block;
  padding: 8px;
}

.righty {
  float: right;
}

a {
  text-decoration: none;
  color: black;
}

#mainbody {
  clear: left;
  margin-top: 125px;
  width: 65%;
  padding-left: 23%;
}

.searchresult {
  clear: left;
  display: block;
  padding-top: 0;
  margin-top: 0;
  padding-bottom: 0.5em;
}

.searchresult a {
  color: blue;
  font-size: 1.5em;
  padding: 0;
}

a:hover {
  text-decoration: underline;
}

.search p {
  padding-top: 0;
  margin-top: 0;
}

#footer {
  border-top: 1px solid #dfe1ef;
  background-color: #efefef;
  padding: 15px;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}
#footer ul {
  padding-left: 20%;
  text-decoration: none;
}
